.menu__desktop {
  padding-block: 28px;
  align-items: center;
  display: none;
  margin-bottom: 62px;

  @include on-tablet {
    display: none;
  }

  @include on-desktop {
    display: flex;
  }

  &-content {
    place-items: center;
    width: 100%;
  }

  &--nav-list {
    display: flex;
    gap: 84px;

    list-style: none;
  }
}
